{% extends 'layout.html' %}
{% block content %}
    <main class="container text-center">
        <h1 class="mt-4 mb-4">Welcome to DnD Vault!</h1>
        <h2 class="mb-4">Here you can create your own characters for DnD sessions, and we will store them for you in a database!</h2>
        <figure>
            <img src="/static/dnd_party.jpg" width="100%" alt="7 stylized dnd characters of various classes and races">
            <figcaption>Image by 'sampetersonart'</figcaption>
        </figure>
    </main>
{% endblock %}